---
import secrets from 'astro-infisical:env';
import { TEST } from 'astro-infisical:env';

console.log("Check Infisical Virtual Module (default) - ", secrets);

console.log("Check Infisical Virtual Module (named) - ", `TEST: ${TEST}`);

console.log("Check process.env - ", process.env.TEST)
---

<html>
    <head>
        <title>Astro-Infisical Playground</title>
    </head>
    <body>
        <h1>Hello World</h1>

        {
            secrets && (
                <div>
                    <h2>Infisical Virtual Module (default)</h2>
                    <pre>{JSON.stringify(secrets, null, 2)}</pre>
                </div>
            )
        }

        {
            TEST && (
                <div>
                    <h2>Infisical Virtual Module (named)</h2>
                    <pre>{`TEST - ${TEST}`}</pre>
                </div>
            )
        }

        {
            process.env.TEST && (
                <div>
                    <h2>process.env</h2>
                    <pre>{`process.env.TEST - ${process.env.TEST}`}</pre>
                </div>
            )
        }
    </body>
</html>
