---
import secrets from "astro-infisical:env";
import { TEST } from "astro-infisical:env";

console.log(secrets, TEST, secrets.TEST2);
---

<html>
    <head>
        <title>My Astro Site</title>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>
